@model PensionsCalculator.Models.PensionViewModel

@{
    ViewData["Title"] = "Pension";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pension Report</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Facility)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Facility)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastFiveYearSalaries)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.LastFiveYearSalaries)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastFiveYearAverage)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.LastFiveYearAverage)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MonthsWorked)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.MonthsWorked)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Deceased)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Deceased)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Pension)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Pension)</dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Home</a>
</div>
